#### Tutorial 3- Pyspark With Python-Pyspark DataFrames- Handling Missing Values
#### Pyspak Handling missing values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, Median and Mode

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [0]:
df_pyspark = spark.read.csv('/FileStore/tables/test_data-2.csv', header=True)

In [0]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 10000|
|  Sushant|  23|         5| 20000|
|Dadasaheb|  24|         5| 30000|
|    Rahul|  22|         3| 30000|
|    Sagar|  22|         4| 25000|
|    Suraj|  23|         4|  null|
|  Ranjeet|  23|         2| 22000|
|   Pramod|  23|         3| 45000|
|    Bhima|  24|         3| 90000|
|      Ram|null|      null|  null|
|     null|  21|         7|  null|
+---------+----+----------+------+

In [0]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 10000|
|  23|         5| 20000|
|  24|         5| 30000|
|  22|         3| 30000|
|  22|         4| 25000|
|  23|         4|  null|
|  23|         2| 22000|
|  23|         3| 45000|
|  24|         3| 90000|
|null|      null|  null|
|  21|         7|  null|
+----+----------+------+

In [0]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 10000|
|  Sushant|  23|         5| 20000|
|Dadasaheb|  24|         5| 30000|
|    Rahul|  22|         3| 30000|
|    Sagar|  22|         4| 25000|
|    Suraj|  23|         4|  null|
|  Ranjeet|  23|         2| 22000|
|   Pramod|  23|         3| 45000|
|    Bhima|  24|         3| 90000|
|      Ram|null|      null|  null|
|     null|  21|         7|  null|
+---------+----+----------+------+

In [0]:
## You can use na attribute of pyspark dataframe to handle null values, na has different functions like drop, fill, replace...
new_df = df_pyspark.na.drop() # It will drop all the rows having null values
new_df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
+---------+---+----------+------+

In [0]:
new_df = df_pyspark.na.drop(how='any') # Here how specifies how we want to delete those null. if its value is any then it drops entire row having null
new_df.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
+---------+---+----------+------+

In [0]:
# there is one more option called threshold. If there are more non nulls than what threshold value is specified then it will delete entire row

df_pyspark.na.drop(how='any', thresh=3).show() # here record suraj, 23, 4, null kept other droped , as it have more than 3 not null values

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|    Suraj| 23|         4|  null|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
+---------+---+----------+------+

In [0]:
### subset parameter
df_pyspark.na.drop(how='any', subset=['Experience']).show() # in subset it will delete a row having null in specified column
# Here in above exapmle it will check nulls in 'Experience' column and delete entire row

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|    Suraj| 23|         4|  null|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
|     null| 21|         7|  null|
+---------+---+----------+------+

In [0]:
### Filling the missing values.
new_df = df_pyspark.na.fill('Missing Values')
new_df.show()

+--------------+--------------+--------------+--------------+
|          Name|           Age|    Experience|        Salary|
+--------------+--------------+--------------+--------------+
|         Krish|            31|            10|         10000|
|       Sushant|            23|             5|         20000|
|     Dadasaheb|            24|             5|         30000|
|         Rahul|            22|             3|         30000|
|         Sagar|            22|             4|         25000|
|         Suraj|            23|             4|Missing Values|
|       Ranjeet|            23|             2|         22000|
|        Pramod|            23|             3|         45000|
|         Bhima|            24|             3|         90000|
|           Ram|Missing Values|Missing Values|Missing Values|
|Missing Values|            21|             7|Missing Values|
+--------------+--------------+--------------+--------------+

In [0]:
### Filling the missing values.
new_df = df_pyspark.na.fill('Missing Values', ['Experience','Age'])
new_df.show()

+---------+--------------+--------------+------+
|     Name|           Age|    Experience|Salary|
+---------+--------------+--------------+------+
|    Krish|            31|            10| 10000|
|  Sushant|            23|             5| 20000|
|Dadasaheb|            24|             5| 30000|
|    Rahul|            22|             3| 30000|
|    Sagar|            22|             4| 25000|
|    Suraj|            23|             4|  null|
|  Ranjeet|            23|             2| 22000|
|   Pramod|            23|             3| 45000|
|    Bhima|            24|             3| 90000|
|      Ram|Missing Values|Missing Values|  null|
|     null|            21|             7|  null|
+---------+--------------+--------------+------+

In [0]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
inputCols = ['age', 'Experience', 'Salary'],
  outputCols = ["{}_imputed".format(c) for c in ['age', 'Experience','Salary']]
).setStratergy('mean')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-796033921745465> in <module>
      1 from pyspark.ml.feature import Imputer
----> 2 imputer = Imputer(
      3 inputCols = ['age', 'Experience', 'Salary'],
      4   outputCols = ["{}_imputed".format(c) for c in ['age', 'Experience','Salary']]
      5 ).setStratergy('mean')

AttributeError: 'Imputer' object has no attribute 'setStratergy'