#### Tutorial 4- Pyspark With Python-Pyspark DataFrames- Filter Operations
#### PySpark DataFrames

- Filter Operations
- &, |, ==
- ~

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe Filter').getOrCreate()

In [0]:
df_pyspark = spark.read.csv('/FileStore/tables/test_data-3.csv', header=True, inferSchema=True)

In [0]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|    Suraj| 23|         4| 22000|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
|      Ram| 27|         4| 23444|
|  Shubham| 21|         7| 89000|
+---------+---+----------+------+

#### Filter Operation

In [0]:
### Lets select a records of emp whose salary is less than or equal to 20000
df_sal = df_pyspark.filter('salary<=20000') # here salary/column name is case insensetive 
df_sal.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Krish| 31|        10| 10000|
|Sushant| 23|         5| 20000|
+-------+---+----------+------+

In [0]:
df_sal = df_pyspark.filter('salary<=20000').select(['Name','Age'])
df_sal.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Krish| 31|
|Sushant| 23|
+-------+---+

In [0]:
# Below is single condition in filter function
# We can also write a condition in below mentioned way. Its alternative for above one
df_sal = df_pyspark.filter(df_pyspark['Salary']<=20000) 
df_sal.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Krish| 31|        10| 10000|
|Sushant| 23|         5| 20000|
+-------+---+----------+------+

In [0]:
# How to write multiple condition in filter function, below is demostration..
df_sal = df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)) # here salary/column name is case insensetive 
df_sal.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sushant| 23|         5| 20000|
+-------+---+----------+------+

In [0]:
df_sal = df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)) # here salary/column name is case insensetive 
df_sal.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 10000|
|  Sushant| 23|         5| 20000|
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|    Suraj| 23|         4| 22000|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
|      Ram| 27|         4| 23444|
|  Shubham| 21|         7| 89000|
+---------+---+----------+------+

In [0]:
df_sal = df_pyspark.filter(~(df_pyspark['Salary']<=20000))
df_sal.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Dadasaheb| 24|         5| 30000|
|    Rahul| 22|         3| 30000|
|    Sagar| 22|         4| 25000|
|    Suraj| 23|         4| 22000|
|  Ranjeet| 23|         2| 22000|
|   Pramod| 23|         3| 45000|
|    Bhima| 24|         3| 90000|
|      Ram| 27|         4| 23444|
|  Shubham| 21|         7| 89000|
+---------+---+----------+------+